.wrapper{
    width: 420px;
    background-color: transparent;
    border: 5px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);;
    color: aliceblue;
    border-radius: 15px;
    padding: 30px 40px;
}

.wrapper{
    font-size: 36px;
    text-align: center;

}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
}

.input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(-50%);
    font-size: 16px;

}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 4px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 20px;
    color: #333;
    font-weight: 700;
}

.wrapper .register-link {
   font-size: 15px;
   text-align: center;
   margin: 20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.welcome-message {
  font-size: 30px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 600;
  text-align: center;
}

/* Animación al desaparecer */
.form {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.form.hide {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

/* Animación de entrada para el mensaje */
.fade-in {
  animation: fadeIn 0.6s ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.welcome-message {
  font-size: 30px;
  margin-top: 20px;
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.logout-btn {
  margin-top: 20px;
  background: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  color: #333;
  font-weight: bold;
  transition: background 0.3s ease;
}

.logout-btn:hover {
  background-color: #e6e6e6;
}
